@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
$DM-serif: 'DM Serif Display', serif;

$font-stack: Helvetica, sans-serif;
$primary-color: #FAF0D4;

body {
	font: 100% $font-stack;
	background-color: $primary-color;
}

.container {
	display: flex;

	&__vert {
		@extend .container;
		flex-direction: column;
	}

	&__hor {
		@extend .container;
		flex-direction: row;
	}
}

.landing {
	@extend .card;
	flex-direction: column;
	padding: 1.25em 1.25em 1.25em 1.25em;
	width: 80%;
	background-color: white;

	&__title {
		font-family: $DM-serif;
		font-size: 3em;
	}
}

.card {
	@extend .container;
	border-radius: 2em;
	box-shadow: 0.5em;
}