@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
$DM-serif: 'DM Serif Display', serif;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
$DM-sans: 'DM Sans', sans-serif;

$primary-color: #faf0d4;

body {
    font: 100% $DM-sans;
    background-color: $primary-color;
}

.container {
    display: flex;

    &__vert {
        @extend .container;
        flex-direction: column;
    }

    &__hor {
        @extend .container;
        flex-direction: row;
    }
}

.landing {
    @extend .card;
    flex-direction: column;
    padding: 1.25em 1.25em 1.25em 1.25em;
    background-color: white;

    &__title {
        font-family: $DM-serif;
        font-size: 3em;
    }

    &__desc {
        font-family: $DM-sans;
        font-size: 20px;
    }

    &__button {
        margin-left: auto;
        margin-right: 0;
    }
}

.hotbar {
    &__title {
        font-family: $DM-sans;
        font-size: 1.25em;
    }
}

.card {
    @extend .container;
    border-radius: 2em;
    box-shadow: 0.5em;
}

.bg {
    background-color: $primary-color;
}

.capacity-bar {
    margin-left: 1em;
    margin-right: 1em;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 15px;
    &__inner {
        height: 24px;
        border-radius: 15px;
    }
}
